# OS
*.DS_Store
*.swp

# Logs
*.log

# Environment
.env

# Database
*.sql~
*.dump
*.backup

# Postgres metadata
/pgdata/
/metabase-data/
*.pid
*.conf

# Docker volumes
**/node_modules
**/__pycache__
*.pyc
*.db
